<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="version" content="{{ version }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="COPO project team">
    <meta name="description" content="The Single-cell Schemas website contains terms, descriptions, examples and references of metadata used in Single-cell and Spatial Transcriptomics experiments. It was developed by Collaborative OPen Omics (COPO) team at the Earlham Institute.">

    <link href="{{ rel_path_traverse }}images/favicon.ico" type="image/x-icon" rel="icon">
    <title>Single-cell Schemas</title>

    <!-- CSS -->
    <link href="{{ rel_path_traverse }}css/styles.css" type="text/css" rel="stylesheet">
    <link href="{{ rel_path_traverse }}css/fontawesome-6.7.2.all.min.css" type="text/css" rel="stylesheet">
    <link href="{{ rel_path_traverse }}css/bootstrap-5.3.3.min.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <!-- Top navigation bar -->
    <nav id="navbarID" class="navbar navbar-expand-lg">
      <div class="container-fluid d-flex justify-content-between align-items-center">
        <!-- Website title (left aligned) -->
        <a href="{{ rel_path_traverse }}checklists/html/index.html" target="_self" class="navbar-brand mb-0 h1 header-title text-center">Single-cell Schemas</a>
        
        <!-- Navbar toggle button -->
        <button id="custom-toggler" class="navbar-toggler ms-auto" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content (right aligned) -->
        <div id="navIcons" class="collapsed-icons">
          <ul class="navbar-nav d-flex align-items-center pe-3">
            <!-- Search icon -->
            <li class="nav-item" title="Search web page">
              <i id="searchIconID" class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
            </li>
            <!-- Info icon -->
            <li class="nav-item" title="View information about the website">
              <i id="infoIconID" class="fas fa-info-circle" aria-hidden="true"></i>
            </li>
            <!-- Documentation icon -->
            <li class="nav-item" title="View documentation">
              <a class="nav-link" 
                href="https://copo-docs.readthedocs.io/en/latest/submissions/single-cell-submissions.html" 
                target="_blank" rel="noopener noreferrer" aria-label="Documentation" title="View documentation">
                <i id="docIconID" class="fa fa-book-open" aria-hidden="true"></i>
              </a>
            </li>
            <!-- Email icon -->
            <li class="nav-item" title="Contact us">
              <i id="emailIconID" class="fas fa-envelope" aria-hidden="true"></i>
            </li>
            <!-- GitHub link -->
            <li class="nav-item" title="View GitHub repository">
              <a class="github-link nav-link" 
                href="https://github.com/TGAC/SingleCellSchemas" target="_blank" 
                rel="noopener noreferrer" title="View GitHub repository">
                <i id="githubIconID" class="fa-brands fa-github" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Main content -->
    <div class="main-content container-fluid">
      <div class="row body-container">
        <div class="col-3">
          <div class="container mt-4 ms-3 hero">
            <form>
              <!-- Standard dropdown menu -->
              <div class="mb-3 dropdown-menu-div">
                <label for="stdDropdown" class="form-label text-bold">Standard:
                  <i class="fa fa-info-circle dropdown-menu-info-icon"
                    title="Choose a standard from the dropdown menu"
                    data-bs-toggle="popover"
                    data-bs-trigger="click"
                    data-bs-placement="top"
                    data-bs-content="Please refer to the <span id='infoModalLink'>About modal</span> for more information.">
                  </i>
                </label>
                <select class="form-select" id="stdDropdown" data-bs-placement="right" 
                  data-bs-trigger="hover" data-bs-toggle="tooltip">
                  {% for key, value in standards.items() %}
                    <option value="{{ key }}">{{ value }}</option>
                  {% endfor %}
                </select>
              </div>

              <!-- Technology dropdown menu -->
              <div class="mb-3 dropdown-menu-div">
                <label for="techDropdown" class="form-label text-bold">Technology:
                  <i class="fa fa-info-circle dropdown-menu-info-icon"
                    title="Choose a technology from the dropdown menu"
                    data-bs-toggle="popover"
                    data-bs-trigger="click"
                    data-bs-placement="top"
                    data-bs-content="Please refer to the <span id='infoModalLink'>About modal</span> for more information.">
                  </i>
                </label>
                <select class="form-select" id="techDropdown" data-bs-placement="right" 
                  data-bs-trigger="hover" data-bs-toggle="tooltip" title="">
                  {% for key, value in technologies.items() %}
                    <option value="{{ key }}">{{ value }}</option>
                  {% endfor %}
                </select>
              </div>
              <!-- Buttons -->
              <div class="d-flex justify-content-between">
                <!-- Download manifest button -->
                <button id="download-manifest-btn" class="btn btn-sm" 
                    type="button" title="Download blank manifest">
                  <i class="fa fa-download"></i>
                  <span class="action-label" style="padding-left: 3px;">Download manifest</span> 
                </button>
                <!-- Submit button -->
                <!-- <button id="sub_btn" class="btn btn-primary" type="submit">
                  Submit
                </button> -->
              </div>
            </form>
          </div>
        </div>
        <div class="col-6">
          <div class="accordion hero" id="fieldsAccordion">
            <!-- Content here -->
            {% for component in components %}
            <div class="accordion-item">
              <div class="accordion-header">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#component-{{ component.group_name }}"
                  aria-expanded="true"
                  aria-controls="component-{{ component.group_name }}"
                >
                  {{component.group_label}}
                </button>
              </div>
              <div
                id="component-{{ component.group_name }}"
                class="accordion-collapse collapse"
                data-bs-parent="#fieldsAccordion">
                <div class="accordion-body">
                  {% for field in component.fields %}
                  <div id="term-{{field.name}}" class="card">
                    {% if field.mandatory == "mandatory" %}
                    <h5 class="card-header d-flex align-items-start">
                      {{field.label}}
                      <span class="badge bg-dark ms-auto">Required</span>
                    </h5>
                    {% else %}
                    <h5 class="card-header">{{field.label}}</h5>
                    {% endif %}
                    <div class="card-body">
                      <table class="table">
                        <tr>
                          <td>Name</td>
                          <td>{{ field.name }}</td>
                        </tr>
                        <tr>
                          <td>Description</td>
                          <td>{{ field.description }}</td>
                        </tr>
                        {% if field.example %}
                        <tr>
                          <td>Example</td>
                          <td>{{ field.example }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                          <td>Reference</td>
                          <td>
                            <a class="field-reference" href="{% if field.reference %}{{ field.reference }}{% else %}#{% endif %}" 
                              target="{% if field.reference %}_blank{% else %}_self{% endif %}">
                              {% if field.reference %}{{ field.reference }}{% else %}#{% endif %}
                            </a>
                          </td>
                        </tr>
                        {% if field.regex %}
                        <tr>
                          <td>Regex</td>
                          <td>{{ field.regex }}</td>
                        </tr>
                        {% endif %}
                        {% if field.namespace %}
                        <tr>
                          <td>Namespace</td>
                          <td>
                            <a href="{% if field.reference %}{{ field.reference }}{% else %}#{% endif %}" 
                              target="{% if field.reference %}_blank{% else %}_self{% endif %}">{{ field.namespace }}
                            </a>
                          </td>
                        </tr>
                        {% endif %}
                        {% if field.allowed_values|length > 0 %}
                        <tr>
                          <td>Allowed Values</td>
                          <td>
                            {% for value in field.allowed_values %}
                            <span class="badge bg-dark">{{ value }}</span>
                            {% endfor %}
                          </td>
                        </tr>
                        {% endif %}
                      </table>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-3"></div>
      </div>
    </div>
    <!-- Footer -->
    <footer id="footerDiv" class="py-4">
      <div class="container-fluid px-0">
        <div class="row align-items-center footer-row w-100">
          <!-- Logos-->
          <div class="col d-flex align-items-center footer-logos">
            <a href="https://www.earlham.ac.uk" target="_blank" rel="noopener noreferrer">
              <img src="../../images/ei-logo-white.png" alt="Earlham Institute logo" height="50" class="me-3">
            </a>
            <a href="https://copo-project.org" target="_blank" rel="noopener noreferrer">
            <img src="../../images/copo-logo-white.png" alt="Collaborative OPen Omics logo" height="70" class="me-3">
            </a>
          </div>

          <!-- Navigation links -->
          <div class="col-auto footer-nav">
            <ul class="nav justify-content-center">
              <li class="nav-item">
                <a id="footerAboutID"  href="#" class="nav-link px-2">About</a>
              </li>
              <li class="nav-item">
                <a href="https://copo-docs.readthedocs.io/en/latest/submissions/single-cell-submissions.html" target="_blank" class="nav-link px-2" rel="noopener noreferrer">Documentation</a>
              </li>
              <li class="nav-item">
                <a id="footerContactID" href="#" class="nav-link px-2">Contact</a>
              </li>
              <li class="nav-item">
                <a href="https://github.com/TGAC/SingleCellSchemas" target="_blank" class="nav-link px-2" rel="noopener noreferrer">GitHub repository</a>
              </li>
            </ul>
          </div>

          <!-- Licence details -->
          <div class="col d-flex me-5 footer-licence">
            <small>
              <a href="https://raw.githubusercontent.com/TGAC/SingleCellSchemas/refs/heads/main/LICENSE" target="_blank" rel="noopener noreferrer">
                <img src="../../images/licence-mit.svg" alt="MIT Licence badge">
              </a>&nbsp;2025. Developed by <br>
              COPO at Earlham Institute.
            </small>
          </div>
        </div>
      </div>
    </footer>
  
    <!-- Navigate to top of web page button -->
    <a href="javascript:void(0);" id="navigateToTop" class="navigate-to-top"
      title="Navigate to top of the web page">
        <i class="up-arrow"></i><i class="up-arrow"></i>
    </a>

    <!-- Placeholder for modals -->
    <div id="info-modal-container"></div>
    <div id="search-modal-container"></div>
    <div id="warning-modal-container"></div>

    <!-- JS -->
    <script src="{{ rel_path_traverse }}js/jquery-3.6.0.min.js" type="text/javascript"></script>
    <script src="{{ rel_path_traverse }}js/bootstrap-5.3.3.bundle.min.js" type="text/javascript"></script>

    <script>
      var outputFileData = {{ output_data | tojson | safe }};
      var components = {{ components | tojson | safe }};
      var relPathTraverse = {{ rel_path_traverse | tojson | safe }};
    </script>

    <script src="{{ rel_path_traverse }}js/fields-scripts.js" type="text/javascript"></script>
  </body>
</html>
