<footer class="footer_div text-white">
  <div class="container">
    <div class="row">
      <!-- Left Column with GitHub Icon -->
      <div class="col-lg">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="https://github.com/TGAC/SingleCellSchemas" target="_blank" class="github-link" title="View repository on GitHub">
              <span class="fa-stack fa-sml">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-inverse fa-stack-1x"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>

      <!-- Right Column with Issues Icon -->
      <div class="col-lg">
        <ul class="fa-ul">
          <li>
            <i class="fa-li fa fa-bug blue-colour footer-icon"></i>
            <a href="https://github.com/TGAC/SingleCellSchemas/issues" target="_blank" class="github-link text-white" title="Report issues">
              Report Issues
            </a>
          </li>
        </ul>
      </div>

    </div>

    <!-- Footer Text -->
    <div class="small mt-2">
      <p>Content on this page was created by the Biodiversity community and licensed under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>
    </div>
  </div>
</footer>